.bg-dark { background-color: #343434 !important; }
.bg-darker { background-color: #161616 !important; }

.codeblock {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding: 5px;
}
