<!DOCTYPE html>
<html lang="en-US">

<head>
<title>{{ site.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="YourNetworkNerd (https://twitter.com/YourNetworkNerd)">
<meta name="description" content="{{ site.description }}">
<meta name="theme-color" content="#{{ site.color }}">
<!-- OpenGraph Tags -->
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:image" content="{{ site.url }}/social.png">
<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="./assets/simple-shield.core.css">
<!-- JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="bg-dark text-white text-center">
    <br>
    <img src="https://img.shields.io/badge/simple-shield-000000.svg" height="100px" width="auto">
    <br><br>
    <img id="updatedShield" src="">
    <span id="updated" style="display: none">{{ site.last_updated }}</span>
    <script type="text/javascript">
    $('#updatedShield').attr('src', `https://img.shields.io/badge/last%20update-${encodeURIComponent($('#updated').html())}-blue.svg`);
    </script>
    <br><br>
    <div class="container">
        <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text">Label</span>
            </div>
            <input id="label" type="text" class="form-control" placeholder="Twitter">
        </div>
        <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text">Value</span>
            </div>
            <input id="value" type="text" class="form-control" placeholder="YourNetworkNerd">
        </div>
        <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text">Color</span>
            </div>
            <input id="color" type="text" class="form-control" placeholder="000000">
        </div>
        <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text">Brand</span>
            </div>
            <select id="brandSelect" class="custom-select">
                <option disabled selected>Choose...</option>
            </select>
        </div>
        <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text">Link</span>
            </div>
            <input id="link" type="text" class="form-control" placeholder="https://twitter.com/YourNetworkNerd">
        </div>
        <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input id="useBrandLogo" type="checkbox">
                </div>
            </div>
            <input type="text" class="form-control" value="Use brand logo?" disabled>
        </div>
        <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input id="useBrandColor" type="checkbox">
                </div>
            </div>
            <input type="text" class="form-control" value="Use brand color on shield?" disabled>
        </div>
        <button id="renderShield" class="btn btn-primary">Render!</button>
        <br><br>
        <img id="result" src="" alt="" height="30px" width="auto">
        <br><br>
        <div id="codes">
            <span>HTML Code</span>
            <br>
            <div id="resultHtml" class="codeblock bg-darker rounded text-left" style="width: 100%"></div>
            <br>
            <span>BBCode</span>
            <br>
            <div id="resultBBcode" class="codeblock bg-darker rounded text-left" style="width: 100%"></div>
            <br>
            <span>Markdown</span>
            <br>
            <div id="resultMarkdown" class="codeblock bg-darker rounded text-left" style="width: 100%"></div>
        </div>
        <br>
        <div id="footer">
            <small class="text-muted">Each Brand Icon &copy; Their Respective Owners 2019</small>
            <br>
            <small class="text-muted">For more advanced shields and API's check out Shields.IO below.</small>
            <br>
            <a href="https://twitter.com/YourNetworkNerd" target="_blank">
                <img src="https://img.shields.io/badge/Twitter-YourNetworkNerd-1DA1F2.svg?logo=twitter">
            </a>
            <a href="https://shields.io/" target="_blank">
                <img src="https://img.shields.io/badge/Badges-Shields.IO-F7DF1E.svg?logo=javascript">
            </a>
            <a href="https://simpleicons.org/" target="_blank">
                <img src="https://img.shields.io/badge/Icons-Simple%20Icons-111111.svg?logo=simple%20icons">
            </a>
            <br><br>
        </div>
    </div>
</body>
<script src="./assets/simple-shield.brands.js"></script>
<script src="./assets/simple-shield.core.js"></script>
